#no-mobile {
    display: none;
}

@media screen and (min-width: 665px) {
    #no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    }
    body {
        overflow: hidden; /*hide scroll bar*/
    }
}